
<!DOCTYPE html>
<html >

<head>
    <title> Code Buddy </title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

    <body>

        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h3>Sign UP</h3>
                    <p>create new account.</p>
                </div>
            </div>
            <form  class="login-form"  method="post" action="/saveuser">
                
                <input type="text" id="username" name="username" placeholder="username" required>
                <input type="password" id="password" name="password" placeholder="password" required>
                
                <button type="submit" >Sign up</button>
                <p class="message">alredy have a account? <a href="login2.html">Login</a></p>
            </form>
        </div>
    </body>
</body>

</html>